.btn-vinko{
    background-color: rgb(189, 135, 48);
    border-color: rgb(189, 135, 48);
    color: white;
}

.headerSubpages{
    color: rgb(189, 135, 48);
}

.socialMediaIcon{
    font-size: 75px;
    color:rgb(189, 135, 48);
}

.incorrect-validation{
    color: red;
}

.errorValidation{
    border: 1px solid red;
}

.openStyle{
    font-weight: bold;
    color: green;
}

.closeStyle{
    font-weight: bold;
    color: red;
}

#message{
    resize: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    border: solid 0.5px #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 11px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.validErrorAgreement{
    background-color: indianred;!important;
    border: solid 0.5px red; !important;
}

/* Colour of the star rating in review section*/ 
.checked {
    color: orange;
}