body{
    overflow-x: hidden;
}
.btn-vinko{
    background-color: rgb(189, 135, 48);
    border-color: rgb(189, 135, 48);
    color: white;
}

.headerSubpages{
    color: rgb(189, 135, 48);
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: rgb(189, 135, 48);
}

.incorrect-validation{
    color: red;
}

.errorValidation{
    border: 1px solid red;
}

.openStyle{
    font-weight: bold;
    color: green;
}

.closeStyle{
    font-weight: bold;
    color: red;
}

textarea{
    resize: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    border: solid 0.5px #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 11px;
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.validErrorAgreement{
    background-color: indianred;!important;
    border: solid 0.5px red; !important;
}

/* Colour of the star rating in review section*/ 
.checked {
    color: orange;
}

header.masthead {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    text-align: center;
    color: white;
    background: url("../img/header.jpg") no-repeat scroll center center;
    background-size: cover;
    opacity: 0.8;
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
}

.starSelected {
    color:  rgb(189, 135, 48);
}

#nwlSuccessMessage{
    color: green;
    font-size: medium;
    margin-top: 1.5%;
    padding-right: 1%;
    font-weight: bold;
    font-style: italic;
}

.reviewCard{
    margin-bottom: 2%;
}

.reviewTitle{
    font-size: x-large;
}

.reviewUserTime{
    margin-top: 1%;
}

.reviewDivider{
    margin-left: 8.5%;
    margin-right: 8.5%;
    border-top: 1px solid black;
}

.reviewStars{
    padding-top: 1%;
}

#openClosedSign{
    background-color: green;
    width: 63%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    color: white;
    border-radius: 25px;
    line-height: 250%;
    margin-top: 8%;
}

.openingHoursStyle{
    font-size: x-large;
}

.btn-fixed-length{
    width: 110px;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}