.incorrect-validation{
    color: red;
}

.errorValidation{
    border: 1px solid red;
}

.openStyle{
    font-weight: bold;
    color: green;
}

.closeStyle{
    font-weight: bold;
    color: red;
}

#headerLine{
    background-color: peachpuff;
    padding: 0.4%;
}